@use "@angular/material" as mat;

$theme: mat.define-theme();

.cwn-card {
  height: 80px;
}

.cwn-card-title {
  font-size: 1.3em;
  color: #272727;
}

.cwn-card-subtitle {
  font-size: 0.9em;
  color: #383838;
}

.cwn-form-field {
  width: 100%;
}

.cwn-card-avatar {
  background-size: cover;
}
